<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipes</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12">

    <!-- <app-recipe-item
      *ngFor="let recipeEle of recipes"
      [recipe]="recipeEle"
      (recipeSelected)="onRecipeSelected(recipeEle)"></app-recipe-item> -->

    <app-recipe-item
      *ngFor="let recipeEle of recipes; let i = index"
      [recipe]="recipeEle"
      [index]="i"
      ></app-recipe-item>
  </div>
</div>
